@import url("https://fonts.googleapis.com/css2?family=Ranga&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: #cdcdcd;
}

#wrap {
  margin: 0 auto;

  width: 900px;
}

#title {
  position: absolute;
  left: 0;

  width: 100vw;
  height: 100px;

  background: #333333;
  border-bottom: 4px solid #000000;
}
#title > h1 {
  margin: 26px auto 0 auto;

  width: 900px;
  height: 70px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #ffffff;
}

#section {
  position: absolute;
  top: 104px;

  width: 900px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section > div.galleryBox {
  transition: 600ms transform;
  margin-top: 40px;

  width: 200px;
  height: 250px;

  box-sizing: border-box;
  padding: 4px;

  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
#section > div.galleryBox:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#section > div.galleryBox > img {
  width: 192px;
  height: 164px;
}
#section > div.galleryBox > h2 {
  width: 192px;
  height: 40px;

  font-family: "Ranga", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
#section > div.galleryBox > h4 {
  float: left;

  margin-top: 16px;
  width: 91px;
  height: 18px;

  box-sizing: border-box;
  padding-left: 4px;

  font-family: "Ranga", cursive;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 18px;
}
#section > div.galleryBox > h3 {
  float: right;

  width: 91px;
  height: 34px;

  box-sizing: border-box;
  padding-right: 4px;

  font-family: "Ranga", cursive;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  line-height: 34px;
}
